.homeContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px;
}

.homeBigScreenPadding {
  padding: 20px 20%;
}