.toolBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #393E46;
    padding: 0px 20px;
}

.bigScreenPadding {
    padding: 0px 20%;
}